<canvas #pillarCanvas></canvas>

@if (!running()) {
<div class="control">
  @if(loading()) {
  <div class="loading">
    <div class="progress">{{ loadProgress() }}%</div>
    <div class="bar" [style.width.%]="loadProgress()"></div>
  </div>
  } @else { @if(prerunning()) {
  <div class="play">
    <ng-icon name="heroEllipsisHorizontal" />
  </div>
  } @else {
  <button class="play shake-horizontal" (click)="run()">
    <ng-icon name="heroPlay" />
  </button>
  } }
</div>
} @if (running()) {
<div class="switch" [class.is_active]="isActive$ | async">
  <div class="gains">
    @for (gain of gains; track $index; let idx = $index) {
    <div class="gain">
      <span>{{ sound.tracks[idx].name }}</span>
      <ngx-slider
        [(value)]="gain"
        [options]="{ floor: 0, ceil: 100, step: 1 }"
      ></ngx-slider>
    </div>
    }
    <div class="gain">
      <ng-icon name="heroRadio" />
      <ngx-slider
        [(value)]="radioGain"
        [options]="{ floor: 0, ceil: 100, step: 1 }"
      ></ngx-slider>
    </div>
  </div>
  <div class="toggles">
    @if (micAvailable()) {
    <button [class.inactive]="!micOn()" (click)="micOn.set(!micOn())">
      <ng-icon name="heroMicrophone" />
    </button>
    }

    <button (click)="mute()">
      <ng-icon name="heroSpeakerXMark" />
    </button>
  </div>

  <div class="actions">
    <button (click)="roll()">
      <ng-icon name="heroArrowPathRoundedSquare" />
    </button>
  </div>
</div>
}
