<canvas #pillarCanvas></canvas>

@if (!running()) {
<div class="control">
  @if(loading()) {
  <div class="loading">
    <div class="progress">{{ loadProgress() }}%</div>
    <div class="bar" [style.width.%]="loadProgress()"></div>
  </div>
  } @else {
  <button class="play" (click)="run()">
    <ng-icon name="heroPlay" />
  </button>
  }
</div>
} @if (running()) {
<div class="switch" [class.is_active]="isActive$ | async">
  <div class="gains">
    <table>
      @for (gain of gains; track $index; let idx = $index) {
      <tr>
        <td></td>
        <td>
          <input
            type="range"
            [name]="'gain' + idx"
            min="0"
            max="100"
            [(ngModel)]="gain"
          />
        </td>
      </tr>
      }

      <tr>
        <td>
          <ng-icon name="heroMicrophone" />
        </td>
        <td>
          <input
            type="range"
            [name]="'mic-gain'"
            min="0"
            max="100"
            [(ngModel)]="micGain"
          />
        </td>
      </tr>
      <tr>
        <td>
          <ng-icon name="heroRadio" />
        </td>
        <td>
          <input
            type="range"
            [name]="'radio-gain'"
            min="0"
            max="100"
            [(ngModel)]="radioGain"
          />
        </td>
      </tr>
    </table>
  </div>

  <button class="roll" (click)="roll()">
    <ng-icon name="heroArrowPathRoundedSquare" />
  </button>

  <!-- <ng-icon name="heroSpeakerXMark" />
  <ng-icon name="heroArrowsPointingOut" /> -->
</div>
}
