:host {
  display: block;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  outline: none;
  background: linear-gradient(var(--color1), var(--color2));
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 0.67em;

  position: absolute;
  bottom: 0.67em;
  right: 0.67em;

  @media screen and (max-width: 767px) {
    opacity: 0.2;
  }

  transition: opacity 0.2s ease-out;

  ng-icon {
    color: white;
    font-size: large;

    &.active {
      cursor: default;
      color: #898989;
    }
  }

  .actions {
    display: flex;
  }

  .gains {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      opacity: 0.2;
    }
    transition: opacity 0.2s ease-out;

    .gain {
      width: 100px;
      position: relative;
      ng-icon {
        position: absolute;
        left: -1.2em;
        top: 25%;
      }
    }

    --color-track: #ffffff;
    --color-progress: #000000;
    --color-thumb: #ff0000;

    ::ng-deep {
      ngx-slider {
        margin: 15px 0 15px;
        .ngx-slider-bar {
          background: var(--color-track);
        }

        .ngx-slider-selection-bar {
          visibility: visible !important;
        }

        .ngx-slider-selection {
          background: var(--color-progress);
        }

        .ngx-slider-pointer {
          width: 24px;
          height: 24px;
          top: -10px;

          background: var(--color-thumb);
          &::after {
            top: 8px;
            left: 8px;
            background: var(--color-progress);
          }

          &:hover {
            &::after {
              background: var(--color-track);
            }
          }
        }

        .ngx-slider-bubble {
          display: none;
        }
      }
    }
  }

  .toggles {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .inactive {
      opacity: 0.62;
    }
    ng-icon {
      &.is_active {
      }
    }
  }
  &.is_active {
    opacity: 1;

    .gains {
      opacity: 1;
    }
  }
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;

  .loading {
    display: flex;
    width: 100%;
    height: 0.67em;
    background: var(--color1);
    position: relative;
    justify-content: center;
    align-items: center;

    .progress {
      color: #000;
      font-size: 0.67em;
      font-family: monospace;
      z-index: 2;
    }

    .bar {
      width: 0%;
      height: 100%;
      position: absolute;
      left: 0;
      background: #fff;
      transition: width 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  .play {
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    scale: 1;
    font-size: 2.62em;
    padding: 0.62em;
    ng-icon {
      color: #fff;
    }

    &:hover {
      scale: 1.3;
      transition: all 0.2s ease-out;
    }
  }
}

.info {
  position: absolute;

  z-index: 1;
  opacity: 1;
  letter-spacing: 0;
  max-height: 100%;
  margin-bottom: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 4vw;
  line-height: 1;

  bottom: 0;
  left: 1em;

  @media screen and (max-width: 767px) {
    font-size: 2em;
  }
}

.shake-horizontal {
  animation: shake-horizontal 2s infinite
    cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s both;
}

@keyframes shake-horizontal {
  0%,
  20% {
    transform: translateX(0);
  }
  2%,
  6%,
  10%,
  14% {
    transform: translateX(-5px);
  }
  4%,
  8%,
  12% {
    transform: translateX(5px);
  }
  16% {
    transform: translateX(3px);
  }
  18% {
    transform: translateX(-3px);
  }
}
