@import "gardevoir/dist/index.css";

body {
  font-family: sans-serif;
}

a {
  cursor: pointer;
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: grey;
  }
}

:root {
  --color1: #535353;
  --color2: #595959;
  // --color1: #809da2;
  // --color2: #a1b5b9;
}
